
@font-face {
  font-family:"aviny" ;
  src: url('../fonts/avinyweb.woff') format('woff'),
  url('../fonts/aviny.ttf') format('truetype'),
  url('../fonts/aviny.otf') format('otf');
  font-weight: normal;
  font-style: normal;

}