.sec{
  position: relative;
}
header{
  position: absolute;
  top: 0;
  left: 0;
  padding: 40px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
    width: 100%;
    transform: 0.5s;
}
.toggle{
  position: relative;
  left: 0;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.5s;
  
}
.toggle::before{
  content: '';
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: #777;
  transform: translateY(-6px);
  transition: 0.5s;
}
.toggle::after{
  content: '';
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: #777;
  transform: translateY(6px);
  transition: 0.5s;
}
.toggle.active::before{
  transform: translateY(0px) rotate(45deg);
}

.toggle.active::after{
  transform: translateY(0px) rotate(-45deg);
}
.btn{
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  background-color: #ff1455;
  color: #fff;
  font-weight: 500;
  border-radius: 4px;
  letter-spacing: 1px;
}
